<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="page1.css" />
    </head>
    <body>
        <h1>Encoder les données de la pièce</h1>
        <div class="conteneur">
            <form method="post">
                <div class="block">
                    <label class="lab">Pièce</label>
                    <input class="input" type="text" name="piece"/>
                </div>
                <div class="block">
                    <label class="lab">Largeur</label>
                    <input class="input" type="text" name="largeur"/>
                </div>
                <div class="block">
                    <label class="lab">Longueur</label>
                    <input class="input" type="text" name="longueur"/>
                </div>
                <button class="butt" formaction="/encode">Valider</button>
            </form> 
        </div>
    </body>
</html>
